@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@theme {
  --color-purple-75: #A685FA;
  --color-purple-70: #946CF9;
  --color-purple-65: #8254F8;
  --color-purple-60: #703BF7;

  --color-purple-99: #FBFAFF;
  --color-purple-97: #F4F0FE;
  --color-purple-95: #EDE7FE;
  --color-purple-90: #DBCEFD;

  --color-white-99: #FCFCFD;
  --color-white-97: #F7F7F8;
  --color-white-95: #F1F1F3;
  --color-white-90: #E4E4E7;

  --color-grey-20: #333333;
  --color-grey-15: #262626;
  --color-grey-10: #1A1A1A;
  --color-grey-08: #141414;

  --color-grey-60: #999999;
  --color-grey-50: #808080;
  --color-grey-40: #666666;
  --color-grey-30: #4D4D4D;

  --font-urbanist: "Urbanist", sans-serif;
}